.main {
  font-size: 14pt;
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 40px;
}

@media (max-width: 860px) {
  .main {
    flex-direction: column;
  }

  .imageContainer {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .splashImg {
    max-height: 400px;
  }
}

.main li {
  margin-bottom: 6px;
}

.splashImg {
  width: 100%;
  object-fit: scale-down;
}

.main a {
  color: navy;
  text-decoration: none;
}

.main a:hover {
  background: azure;
  text-decoration: none;
}

.section {
  font-weight: bold;
}

.main a:visited {
  text-decoration: none;
}

.navTemp > a {
  font-weight: bold;
}

.pronouns {
  visibility: hidden;
  font-weight: 400;
  margin-left: 4px;
  font-size: 20pt;
  color: gray;
}

.imageContainer {
  flex: 35%;
}

.splashContent {
  flex: 65%;
}
