.main {
  font-size: 14pt;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.main li {
  margin-bottom: 6px;
}

.splashImg {
  width: 100%;
  object-fit: scale-down;
}

.top, .bottom {
  grid-column-start: 1;
  grid-column-end: 3;
}

.pronouns {
  font-weight: 400;
  margin-left: 4px;
  font-size: 20pt;
  color: gray;
}