.main {
  font-size: 14pt;
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 1300px;
  margin: auto;
}

.main li {
  margin-bottom: 6px;
}

.splashImg {
  width: 100%;
  object-fit: scale-down;
}

.top, .bottom {
  grid-column-start: 1;
  grid-column-end: 3;
}

.pronouns {
  visibility: hidden;
  font-weight: 400;
  margin-left: 4px;
  font-size: 20pt;
  color: gray;
}

.main a {
  color: navy;
  text-decoration: none;
}

.main a:hover {
  background: azure;
  text-decoration: none;
}

.section {
  font-weight: bold;
}

.main a:visited {
  text-decoration: none;
}

.navTemp > a {
  font-weight: bold;
}
